.catalog
  include /components/catalog.filter/filter.component.pug
  include /components/catalog.product-list/product-list.component.pug
  include /components/catalog.pagination/pagination.component.pug