-
  const NAV_LINK_CLASS = 'navigation__link'
  const NAV_LINKS = [
    {
      value: 'Some text',
      class: NAV_LINK_CLASS + '-somelink',
      url: '#'
    },
    {
      value: 'Some text',
      class: NAV_LINK_CLASS + '-somelink',
      url: '#'
    },
    {
      value: 'Some text',
      class: NAV_LINK_CLASS + '-somelink',
      url: '#'
    },
    {
      value: 'Some text',
      class: NAV_LINK_CLASS + '-somelink',
      url: '#'
    },
    {
      value: 'Some text',
      class: NAV_LINK_CLASS + '-somelink',
      url: '#'
    },
    {
      value: 'Some text',
      class: NAV_LINK_CLASS + '-somelink',
      url: '#'
    }
  ]