aside.sidebar
  include /components/sidebar.user-avatar/user-avatar.component.pug
  include /components/sidebar.user-menu/user-menu.component.pug
  include /components/sidebar.profile-menu/profile-menu.component.pug